.custom-breadcrumb {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.022em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* Each item alignment */
.custom-breadcrumb .breadcrumb-item {
  display: flex;
  align-items: center;
  color: #757575;
}

/* Links */
.custom-breadcrumb .breadcrumb-item a {
  color: #757575;
  text-decoration: none;
}


.custom-breadcrumb .breadcrumb-item.active {
  color: #757575;
}



/* Optional hover */
.custom-breadcrumb .breadcrumb-item a:hover {
  color: #555;
}
