
*{
  font-family: "Inter", sans-serif;
}
:root {
  --theme-color: #4285F4;
  --active-color:#34C759;
}

.text-theme {
  color: var(--theme-color);
  
}

.bg-theme {
  background-color: var(--theme-color);
}


.rounded-8 {
  border-radius: 8px;
}

.theme-btn {
  transition: background-color 0.2s ease, transform 0.1s ease;
  text-decoration: none; /* Link underline remove */
}



.modal-header {
  position: relative;
}

.modal-header .btn-close {
  position: absolute;
  top: 0px;
  right: 4px;
  margin: 0;
  padding: 0.5rem;
}



.theme-btn {
  background-color: var(--theme-color); /* or #4285F4 */
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/* Hover */
.theme-btn:hover {
  background-color: #336fd1; 
  color: #fff;
  
}


.theme-edit-btn,
.theme-delete-btn {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  flex-shrink: 0;
}

/* EDIT */
.theme-edit-btn {
  background-color: #4285f41f;
  color: #1e90ff;
}

.theme-edit-btn{
  flex-shrink: 0;
}


.theme-delete-btn {
  background-color: #ffe5e5;
  color: #ff5555;
}
